@import "reset/variables", "reset/reset", "reset/mixins", "reset/keyframes";
*{
  color: white;
}
a{
  cursor: none;
}
h2, h3, h4, h5, li{
  font-family: 'Days One', sans-serif;
}
h1, p{
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  position: relative;
  cursor: none;
  .cursorpack{
    position: absolute;
    opacity: 0;
    @media (max-width: 1024px) {
      display: none;
    }
    &.activo{
      & .cursor{
        width: 20px;
        height: 20px;
        background-color: white;
        // filter: drop-shadow(0 0 0px black);
        filter: drop-shadow(0 0 5px turquoise);
        @media (max-width:1800px) {
          width: 15px;
          height: 15px;
        }
      }
      & .fancy{
        // animation: fancy 5s linear 0s infinite;
        top: -5px;
        left: -5px;
        filter: drop-shadow(0 0 5px white);
        border: 5px solid turquoise; 
      }
    } 
    &.activo_dos{
      & .cursor{
        width: 75px;
        top: -31px;
        left: -31px;
        z-index: -1;
        background-color: transparent;
        border: 3px solid white;
      }
      & .fancy{
        width: 0%;
        border: 0px;
      }
    } 
  }
  .ventana{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // border: 10px solid pink;
    z-index: 3;
    pointer-events: none;
    overflow: hidden;
    &.activo{
      pointer-events: auto;
    }
    // @media (max-width: 600px) {
    //   pointer-events: auto;
    // }
    .burguer{
      display: none;
      width: 2.5em;
      height: 2.5em;
      border: 4px solid rgba(255, 255, 255);
      opacity: .5;
      border-radius: 10px;
      top: 1.5em;
      right: 1.5em;
      position: absolute;
      z-index: 7;
      transition: 0.5s ease-in-out;
      @media (max-width:600px){
        display: block;  
        pointer-events: auto;  
      }
      &.esconder{
        top: -10em;
      }
      &.back{
        opacity: 0;
        pointer-events: none;
      }
      .linea{
        position: absolute;
        width: 70%;
        height: 3px;
        background: white;
        left: 15%;
        opacity: .5;
        transition: 1s;
        &.arriba{
          top: calc(30%);
          transform-origin: center;
        }
        &.abajo{
          bottom: calc(30%);
          transform-origin: center;
        }
      }
      &.activo{
        opacity: 1;
        filter: drop-shadow(0 0 2px orange);
        & .linea.arriba{
          top: calc(50% - 1.5px);
          transform: rotate(45deg);
          width: 80%;
          opacity: 1;
          left: 10.5%;
        }
        & .linea.abajo{
          width: 80%;
          top: calc(50% - 1.5px);
          transform: rotate(-45deg);
          opacity: 1;
          left: 10.5%;
        }
      }
    }
    .menu_responsive{
      display: none;
      width: 100%;
      height: 100%;
      padding: 15vh 15% 3vh;
      background: black;
      opacity: 1;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      top: 0;
      right: 0;
      position: absolute;
      transform: translateX(-200%);
      transition: 1s;
      @include flex( column, nowrap, center, flex-start );
      @media (max-width:500px){
        display: flex;    
      }
      &.activo{
        transform: translateX(0%);
      }
      .secciones_responsive{
        // background: turquoise;
        flex: 3;
        @include flex( column, nowrap, space-around, flex-start );
        margin-bottom: 15vh;
        padding-top: 1em;
        font-size: 1.7em;
        opacity: 0;
        transform: translateX(-200%);
        transition: all 1s ease 1s;
        .h5_responsive{
           
          &:hover{
            filter: drop-shadow(0 0 5px white);
          }
        }
      }
      .rrss_responsive{
        // background: orange;
        flex: 1;
        width: 100%;
        @include flex( row, nowrap, space-around, flex-start );
        font-size: 1.6em;
        opacity: 0;
        transform-origin: center;
        transform: scale(0);
        transition: all 1.5s ease-in-out 1s;
        .rs:hover{
          filter: drop-shadow(0 0 5px white);
        }
      }
      &.activo .secciones_responsive{
        transform: translateX(0%);
        opacity: 1;
      }
      &.activo .rrss_responsive{
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  .cursor{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    z-index: 10; 
    pointer-events: none;
    transform-origin: center ;
    -webkit-transition: -webkit-opacity 1s ease, -webkit-transform 0s ease, -webkit-width .5s ease, -webkit-height .5s ease;
    background-color: 1s ease, top .5s ease, left .5s ease;
    opacity:  1;
  }
  .fancy{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    z-index: 9;
    -webkit-transition: -webkit-transform .1s ease-in-out, -webkit-opacity .1s ease;
    top: 5px;
    left: 5px;
    pointer-events: none;
    @media (max-width: 1800px) {
      width: 25px;
      height: 25px;
    }
    &.safari{
    -webkit-transition: none;
    }
  }
}
body .cursorpack.activo_tres{
  .fancy{
    width: 0%;
    border: 0px;
  }
}
.header{
  width: 100%;
  height: 6vh;
  position: sticky;
  top: 0;
  z-index: 6;
  background-color: var(--negro-hea-fot);
  transition: 1s ease;
  @include flex(row, nowrap, center, center);
  &.esconder{
    transform: translateY(-6vh);
  }
  @media (max-width:600px){
    display: none;
  }
  .nav{
    :hover{
      transition: 1s;
    }
    width: 80%;
    max-width: var(--grande);
    @include flex(row, nowrap, space-between, center);
    @media (max-width:1800px){
      font-size: 80%;
    }
    .logo{
      flex: 1;
      font-family: 'Days One', sans-serif;
      font-size: 2em;
      text-align: center;
      cursor: none;
      position: relative;
      @include flex(row, wrap, flex-start, center);
      .ele{
        -webkit-text-stroke: 2px white;
        color: transparent; 
      }
      :hover{
        filter: drop-shadow(0 0 5px white);
      }
    }
    .ul{
      @include flex(row, wrap, space-around, center);
      flex: 5;
      .li{
        font-family: 'Days One', sans-serif;
        position: relative;
        transition: .1s;
        &:hover{
          filter: drop-shadow(0 0 5px white);
        }
        ::after{
            content:"";
            width: 100%;
            height: 5px;
            background: white;
            position: absolute;
            top: 130%;
            left: 0;
            transition: .3s;
            transform-origin: center;
            transform: scalex(0);
          }
          :hover::after{
            transform: scalex(1);
          }
      }
    }
    .rrss{
      @include flex(row, wrap, space-around, center);
      flex: 1;
      @media (max-width:1800px){
        // background: red;
        flex: 1.2;
        @include flex(row, nowrap, space-between, center);
      }
      .rs{
        font-size: 1.8em;
        font-family: 'Days One', sans-serif;
        transition: .1s;
        &.link:hover{
          filter: drop-shadow(0 0 5px orange);
        }
        &.git:hover{
          filter: drop-shadow(0 0 5px var(--rosa));
        }
        &.mail:hover{
          filter: drop-shadow(0 0 5px turquoise);
        }
      }
    }
  }
}
.principal{
  width: 100%;
  height: 94vh;
  position: relative;
  overflow: hidden;
  &.web{
    position: fixed;
    z-index: -10;
  }
  .fondo{
    width: 100%;
    height: 100%;
    position: fixed;
    @include flex( column, nowrap, center, center);
    z-index: -1; 
    transform-origin: top;
    @media (max-width:1800px){
      transform: scale(0.6);
      height: 150%;
    }
    .uno{
      width: 50em;
      height: 50em;        
      border-radius: 50%; 
      background: rgb(63, 34, 75);
      filter: blur(10em);
      transform: rotate(0deg) translateX(-10em) rotate(0deg);
      animation-name: moverseizqda;
      animation-duration: 30s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      transition: 2s;
      z-index: -1;
      &.blanco{
        width: 10em;
        height: 10em;
        filter: blur(5em);
        animation-duration: 5s;
        background-color: white;
      }
      &.purple{
        width: 10em;
        height: 10em;
        filter: blur(5em);
        animation-duration: 5s;
        background-color: var(--morado-osc);
      }
    }
    .dos{
      position: absolute;
      width: 15em;
      height: 15em;        
      border-radius: 50%;
      background: orange;
      filter: blur(10em);
      transform: rotate(0deg) translateX(25em) rotate(0deg);
      animation-name: moversedrcha;
      animation-duration: 30s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      transition: 2s;
      z-index: -2;
      &.blanco{
        width: 10em;
        height: 10em;
        filter: blur(5em);
        animation-duration: 5s;
        background-color: white;
      }
      &.purple{
        width: 10em;
        height: 10em;
        filter: blur(5em);
        animation-duration: 5s;
        background-color: var(--morado-osc);
      }
    }
    .tres{
      width: 20em;
    height: 20em;        
    border-radius: 50%;
    position: absolute;
    z-index: -2;
    background: rgb(23, 192, 192);
    filter: blur(10em);
    transform: rotate(0deg) translateX(-20em) rotate(0deg);
    animation-name: moversecentro;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: 2s;
    &.blanco{
      width: 10em;
      height: 10em;
      filter: blur(5em);
      animation-duration: 5s;
      background-color: white;
    }
    &.purple{
      width: 10em;
      height: 10em;
      filter: blur(5em);
      animation-duration: 5s;
      background-color: var(--morado-osc);
    }
  }
  .cuatro{
    width: 10em;
    height: 10em;        
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 30%;
    z-index: -2;
    background: var(--rosa);
    filter: blur(5em);
    transform: rotate(0deg) translateX(-5em) rotate(0deg);
    animation-name: moversecuatro;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: 2s;
    &.blanco{
      width: 10em;
      height: 10em;
      filter: blur(5em);
      animation-duration: 5s;
      background-color: white;
    }
    &.purple{
      width: 10em;
      height: 10em;
      filter: blur(5em);
      animation-duration: 5s;
      background-color: var(--morado-osc);
    }
  }
  .cinco{
    width: 8em;
    height: 8em;        
    border-radius: 50%;
    position: absolute;
    right: 40%;
    top: 60%;
    z-index: -2;
    background: rgb(139, 139, 139);
    filter: blur(3em);
    transform: rotate(0deg) translateX(-15em) rotate(0deg);
    animation-name: moversecinco;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: 2s;
    &.blanco{
      width: 10em;
      height: 10em;
      filter: blur(5em);
      animation-duration: 3s;
      background-color: white;
    }
    &.purple{
      width: 10em;
      height: 10em;
      filter: blur(5em);
      animation-duration: 3s;
      background-color: var(--morado-osc);
    }
  }
  .desenfoque.orange{ background: rgba(255, 166, 0, 0.26);}
  .desenfoque.turquesa{ background: rgba(0, 255, 221, 0.26);}
  .desenfoque.gris{ background: rgba(255, 255, 255, 0.158);}
}
} 
.contenido{
  position: absolute;
  max-width: var(--grande);
  width: 100%;
  height: 100%;
  // background-color: purple;
  @include flex( row, nowrap, center, center);
  @media (max-width:1800px){
    font-size: 55%;
  }
  @media (max-width:1024px){
    padding: 0% 15%;
  }
  @media (max-width:850px) {
    @include flex(column, nowrap, center, center);
  }
  @media (max-width:600px){
    font-size: 45%;
    padding: 0;
  }
  @media (max-width: 350px) {
    font-size: 35%;
  }
  .par_izq{
    // background-color: red;
    flex: 1;
    @include flex(column, wrap, center, flex-end);
    @media (max-width: 1025px){
      @include flex(column, wrap, center, flex-start);
    }
    @media (max-width: 850px) {
      @include flex(column, nowrap, flex-end, flex-start);
      margin-bottom: 5em;
      flex: auto;
      width: 70%;
    }
    .h2{
      margin-right: 25%;
      font-size: 8em;
      color: white;
      text-transform: uppercase;
      &:hover .nombre{
        -webkit-text-stroke: 2px white;
        color: transparent;   
      }
      &:hover .apellido{
        -webkit-text-stroke: 0px white;
        color: white;   
      }
      @media (max-width: 850px){
        margin: 0;
        // background-color: red;
      }
    }
    .nombre{
      transform-origin: bottom left;
      transform: rotate(0deg);
      transition: .5s;
    }
    .apellido{
      -webkit-text-stroke: 2px white;
      color: transparent; 
      transition: .5s;
    }
  }
  .par_drc{
    // background: red;
    flex: 1;
    @include flex(column, wrap, center, flex-start);
    @media (max-width:850px){
      @include flex(column, nowrap, flex-start, flex-start);
      flex: auto;
      width: 70%;
    }
    .h1{
      margin-left: 25%;
      color: white;
      font-size: 2.5em;
      font-weight: 30;
      @media (max-width: 850px){
        margin: 0;
      }
      .d_block{
        display: block;
      }
    }
  }
}
  
.me{
  width:100%;
  max-width: var(--grande);
  margin: auto;
  padding: 5% 0;
  @media (max-width:1800px){
    font-size: 65%;
  }
  @media (max-width: 350px) {
    font-size: 40%;
  }
  .h2_info{
    width: 50%;
    margin: 0 auto 1.5em;
    // background-color: darkblue;
    font-size: 5em;
    position: relative;
    transition: all 0.5s ease;
    left: -10%;
    opacity: 0;
    &::after{
      content: '';
      width: 0em;
      height: 5px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 3px;
      position: absolute;
      top: 1.2em;
      left: 5%;
      transition: 2.5s ease;
    }
    &.entrar{
      left: 0;
      opacity: 1;
      transition: all 1.5s ease;
      &::after{
        width: 3em;
      }
    }
  }
  .p_info{
    width: 25%;
    font-size: 1.7em;
    font-weight: 100;
    margin: 1.5em auto;
    line-height: 1.7em;
    right: -10%;
    opacity: 0;
    transition: all 0.5s ease;
    position: relative;
    @media (max-width:1800px){
      width: 30%;
    }
    @media (max-width: 850px) {
      width: 50%;
    }
    @media (max-width:600px){
      width: 70%;
    }
    @media (max-width:350px){
      font-size: 215%;
    }
    &.entrar{
      right: 0;
      opacity: 1;
      transition: all 1.5s ease;
    }
  }
}
.skills{
  max-width: var(--grande);
  width: 70%;
  margin: auto;
  padding: 10% 0 5% 0%;
  // position: relative;
  @include flex( row, nowrap, space-between, flex-start);
  @media (max-width:1800px){
    font-size: 65%;
  }
  @media (max-width: 850px) {
    @include flex( column, nowrap, center, center);
    font-size: 60%;   
  }
  @media (max-width:600px){
    font-size: 50%;
  }
  @media (max-width: 350px) {
    font-size: 40%;
  }
  .development{
    text-align: left;
    // background-color: purple;
    flex: 1;
    @media (max-width:850px) {
      width: 100%;
      margin-bottom: 5em;
    }
    .h2_sk{
      transform-origin: right;
      transform: scale(0) translateX(35%);
      transition: all 1.5s ease;
      opacity: 0;
      &.entrar{
        opacity: 1;
        transform: scale(1) translateY(0%);
      }
    }
    .h3_sk{
      margin-left: 5%;
      transform-origin: left;
      transform: scale(0) translateX(-35%);
      transition: all 2s ease;
      opacity: 0;
      &.entrar{
        opacity: 1;
        transform: scale(1) translateY(0%);
      }
    }
  }
  .design{
    // background-color: yellow;
    margin-left: 4%;
    flex: 1;
    text-align: right;
    @media (max-width: 850px) {
      margin: 0;
      width: 100%;
    }
    .h2_sk{
      -webkit-text-stroke: 3px white;
      color: transparent;
      transform-origin: left;
      transform: scale(0) translateX(-35%);
      transition: all 1.5s ease;
      opacity: 0;
      @media (max-width:600px) {
        -webkit-text-stroke: 1px white;
      }
      &.entrar{
        opacity: 1;
        transform: scale(1) translateY(0%);
      }
    }
    .h3_sk{
      margin-right: 5%;
      transform-origin: right;
      transform: scale(0) translateX(35%);
      transition: all 2s ease;
      opacity: 0;
      &.entrar{
        opacity: 1;
        transform: scale(1) translateY(0%);
      }
    }
  }
  .h2_sk{
    text-transform: uppercase;
    font-size: 4em;
    margin-bottom: 1em;
  }
  .h3_sk{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 2em;
    margin: 1em auto 1em auto;
  }
}

.muestrario{
  width: 100%;
  max-width: var(--grande);
  padding-top: 10%;
  @media (max-width:1800px){
    font-size: 65%;
  }
  @media (max-width: 850px) {
    font-size: 60%;   
  }
  @media (max-width:600px){
    font-size: 50%;
  }
  @media (max-width: 350px) {
    font-size: 40%;
  }
  .h4_mues{
    width: 50%;
    margin: 0 auto 4em;
    font-size: 5em;
    position: relative;
    transition: all 0.5s ease;
    left: -10%;
    opacity: 0;
    &::after{
      content: '';
      width: 0em;
      height: 5px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 3px;
      position: absolute;
      top: 1.2em;
      left: 5%;
      transition: 2.5s ease;
    }
    @media (max-width: 1024px) {
      margin: 0 auto 3em;
    }
    @media (max-width: 350px) {
      margin: 1em auto 2.5em;
    }
    &.entrar{
      left: 0;
      opacity: 1;
      transition: all 1.5s ease;
      &::after{
        width: 2.5em;
        @media (max-width:600px) {
          width: 3em;
        }
        @media (max-width: 350px) {
          left: 10%;
          width: 2.8em;
        }
      }
    }
  }
  .web, .grafico, .ilustracion{
    width: 100%;
    min-height: 70vh;
    margin: auto;
    position: relative;
    overflow: hidden;
    transition: 1s ease;
    opacity: 0;
    pointer-events: none;
    @include flex( column, nowrap, center, center);
    @media (max-width: 1024px) {
      min-height: 40vh; 
    }
    &.entrar{
      opacity: 1;
      pointer-events: auto;
    }
    
    .cont_graf{
      transition: all .8s cubic-bezier(.56,.16,1,.76);
      transform: scale(3);
      filter: blur(5em);
      // min-height: 50vh;
      // padding: 5% 0%;
      // background-color: red;
      opacity: 0;
      @include flex(column, nowrap, center, center);
      @media (max-width:1024px) {
        transform: scale(1);
        filter: blur(0em);
        opacity: 1;
        filter: drop-shadow(0 0 5px darkgray);
      }
      @media (max-width:400px) {
        font-size: 80%;
        filter: drop-shadow(0 0 5px darkgray);
      }
      .h3_mues{
        text-align: center;
        font-size: 4em;
        text-transform: uppercase;
        -webkit-text-stroke: 3px white;
        color: transparent;
        @media (max-width: 1800px) {
          -webkit-text-stroke: 1px white;
        }
        @media (max-width: 1024px) {
          filter: drop-shadow(0 0 5px darkgray);
          margin-bottom: .5em;
        }
      }
      .p_mues{
        font-size: 2em;
        font-weight: 200;
        @media (max-width: 1024px) {
          filter: drop-shadow(0 0 5px darkgray);
        }
        @media (max-width: 600px) {
          filter: drop-shadow(0 0 3px black);
          font-size: 300%;
        }
      }
    }
    &:hover{
      width: 100%;
      right: 0;
      left: 0;
      & .cont_graf{
        transform: scale(1);
        filter: blur(0em);
        opacity: 1;
        @media (max-width: 1024px) {
          transform: scale(2);
          filter: blur(5em);
          opacity: 0;
        }
        @media (max-width: 800px) {
          transform: scale(1);
          filter: blur(0em);
          opacity: 1;
        }
      }
      & .blur{
        filter: blur(3em);
        background-color: rgba(0, 0, 0, 0);
        background-size: 130%;
        @media (max-width: 1024px) {
          filter: blur(0em);
          background-color: rgba(0, 0, 0, 1);
        }
        @media (max-width: 800px) {
          filter: blur(3em);
          background-color: rgba(0, 0, 0, 0);
        }
      }
  }
  }
  .web{
    .blur{
      width: 100%;
      height: 100%;
      filter: blur(0em);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: 1s ease;
      background-color: rgba(0, 0, 0, 0.3);
      background-image: url(../assets/backgroundWeb.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center 50%;
      @media (max-width: 1024px) {
        background-size: 150%; 
        filter: blur(2em);
      }
      @media (max-width: 1024px) {
        background-size: 200%; 
      }
    }
    &:hover .blur{
      @media (max-width:1024px) {
        background-size: 120%;
      }
      @media (max-width: 800px) {
        background-size: 250%;
      }
    }
  }
  .grafico{
    .blur{
      width: 100%;
      height: 100%;
      filter: blur(0em);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: 1s ease;
      background-color: rgba(0, 0, 0, 0.3);
      background-image: url(../assets/backgroundGrafico.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center 50%;
      @media (max-width: 1024px) {
        background-size: 150%; 
        background-position: bottom;
        filter: blur(1em);
      }
      @media (max-width: 600px) {
        background-size: 250%; 
        background-position: center;
      }
    }
    &:hover .blur{
      @media (max-width:1024px) {
        background-size: 155%;
      }
      @media (max-width: 600px) {
        background-size: 220%; 
        background-position: bottom;
      }
    }
  }
  .ilustracion{
    .blur{
      width: 100%;
      height: 100%;
      filter: blur(0em);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: 1s ease;
      background-color: rgba(0, 0, 0, 0.3);
      background-image: url(../assets/Ilustraciones/portraits/background.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center 50%;
      @media (max-width: 1024px) {
        background-position: center 260%;
        filter: blur(1em);
        background-color: rgba(0, 0, 0, 0);
      }
      @media (max-width: 600px) {
        background-position: center 100%;
        filter: blur(1em);
        background-color: rgba(0, 0, 0, 0);
      }
    }
    &:hover .blur{
      @media (max-width:1024px) {
        background-size: 105%;
      }
    }
  }
}
.footer{
  width: 100%;
  background: var(--negro-hea-fot);
  @include flex( row, nowrap, center, center);
  padding: 1em;
  @media (max-width:1600px){
    font-size: 80%;
  }
}

// WEB section

.escaparate{
  width: 100%;
  max-width: 2600px;
  @include flex( column, nowrap, center, center);
  @media (max-width:1800px) {
    font-size: 75%;
  }
  @media (max-width: 1024px) {
    font-size: 65%;
  }
  @media (max-width: 800px) {
    font-size: 50%;      
  }
  @media (max-width: 600px) {
    font-size: 30%;      
  }
  .h3_web{
    @include flex( row, nowrap, center, center);
    height: 94vh;
    font-size: 5em;
    filter: drop-shadow(0 0 5px white);
    @media (max-width: 600px) {
      height: auto;
      display: block;
      text-align: center;
      margin: 40vh 0 35vh 0;      
    }
    & .span_web{
      -webkit-text-stroke: 3px white;
      color: transparent; 
      @media (max-width: 600px) {     
        -webkit-text-stroke: 1px white;
        font-size: 200%;
      }
      @media (max-width: 350px) {
        font-size: 150%;      
      }
    }
  }
  .t_web{
    width: 70%;
    margin: 10vh 0;
    opacity: 0;
    transition: 1s;
    // background: 
    @include flex(row, nowrap, center, center);
    @media (max-width:1800px) {
      font-size: 75%;
    }
    @media (max-width:1024px) {
      @include flex(column, nowrap, center, center);
    }
    @media (max-width:600px) {
      margin: 5vh 0;
      width: 85%;
    }
    &:nth-child(even){
      .trabajo_izqda{
        flex: 2;
        // background-color: turquoise;
        @include flex( column, nowrap, center,center);
        .a_t_web{
          &:hover{
            filter: drop-shadow(0 0 10px white);
          }
          img{
            min-width: 100%;
            border-radius: 1em;
            filter: drop-shadow(0 0 0px white);
            transition: 1s ease;
            transform: rotate(0deg);
            @media (max-width:1024px) {
              width: 80%;
            }
            @media (max-width:600px) {
              border-radius: 3em;
            }
          }
        }
      }
      .trabajo_drcha{
        // background-color: orange;
        flex: 3;
        height: 100%;
        overflow: hidden;
        .a_t_web{
          position: relative;
          transition: 1s ease;
          @include flex(column, nowrap, center, center);
          .h4_web{
            font-size: 10em;
            padding: 1.5em 0;
            // background-color: yellow;
          }
          .fa-github{
            // background-color: red;
            transition: 1s;
            transform: translateY(100%);
            opacity: 0;
            font-size: 5em;
            position: absolute;
            bottom: 20%;
            @media (max-width:1024px) {
              transform: translateY(0%);
              opacity: 1;
            }
          }
          &:hover{
            transform: scale(0.9);
            filter: drop-shadow(0 0 5px white);
            .fa-github{
              transform: translateY(0%);
              opacity: 1;
            }
          }
          &:active{
            filter: drop-shadow(0 0 5px var(--rosa));
          }
        }
      }
      
      &.entrar{
        opacity: 1;
        .a_t_web img{
          transform: rotate(-10deg);
          @media (max-width:1024px) {
            transform: rotate(0deg);
            filter: drop-shadow(0 0 10px white);
          }
        }
        &:hover img{
          transform: rotate(0deg);
        }
      }
    }
    &:nth-child(odd){
      @media (max-width:1024px) {
        @include flex(column-reverse, nowrap, center, center);
      }
      .trabajo_izqda{
        // background-color: orange;
        flex: 3;
        height: 100%;
        overflow: hidden;
        .a_t_web{
          position: relative;
          transition: 1s ease;
          @include flex(column, nowrap, center, center);
          .h4_web{
            font-size: 10em;
            padding: 1.5em 0;
            -webkit-text-stroke: 3px white;
            color: transparent; 
            @media (max-width:600px) {
              -webkit-text-stroke: 1px white;
            }
          }
          .fa-github{
            // background-color: red;
            transition: 1s;
            transform: translateY(100%);
            opacity: 0;
            font-size: 5em;
            position: absolute;
            bottom: 20%;
            @media (max-width:1024px) {
              transform: translateY(0%);
              opacity: 1;
            }
          }
          &:hover{
            transform: scale(0.9);
            filter: drop-shadow(0 0 5px white);
            .fa-github{
              transform: translateY(0%);
              opacity: 1;
            }
          }
          &:active{
            filter: drop-shadow(0 0 5px var(--rosa));
          }
        }
      }
      .trabajo_drcha{
        flex: 2;
        @include flex( column, nowrap, center,center);
        .a_t_web{
          &:hover{
            filter: drop-shadow(0 0 10px white);
          }
          img{
            width: 100%;
            filter: drop-shadow(0 0 0px white);
            transition: 1s ease;
            transform: rotate(0deg);
            @media (max-width:1024px) {
              width: 80%;
            }
          }
        }
      }
      &:hover{
        .fa-github{
          transform: translateY(0%);
          opacity: 1;
        }
      }
      &.entrar{
        opacity: 1;
        img{
          transition: 1s ease;
          border-radius: 1em;
          transform: rotate(-10deg);
          @media (max-width:1024px) {
            transform: rotate(0deg);
            filter: drop-shadow(0 0 10px white);
          }
          @media (max-width:600px) {
            border-radius: 3em;
          }
        }
        &:hover img{
          filter: drop-shadow(0 0 10px white);
          transform: rotate(0deg);
        }
      }
    }
    .p_coming{
      font-size: 2.5em;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 10vh;
      @media (max-width: 1024px) {
        font-size: 4em;
        border-bottom: 5px solid white;
        border-radius: 3px;
      }
      @media (max-width: 800px) {
        font-size: 5em;
        border-bottom: 3px solid white;
      }
    }
  }
}