@import "reset/variables", "reset/reset", "reset/mixins", "reset/keyframes";
*{
  color: white;
}
a{
  cursor: none;
}
h2, h3, h4, h5, li{
  font-family: 'Days One', sans-serif;
}
h1, p{
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  position: relative;
  cursor: none;
  .cursorpack{
    position: absolute;
    opacity: 0;
    @media (max-width: 1024px) {
      display: none;
    }
    &.activo{
      & .cursor{
        width: 20px;
        height: 20px;
        background-color: white;
        // filter: drop-shadow(0 0 0px black);
        filter: drop-shadow(0 0 5px turquoise);
        @media (max-width:1800px) {
          width: 15px;
          height: 15px;
        }
      }
      & .fancy{
        // animation: fancy 5s linear 0s infinite;
        top: -5px;
        left: -5px;
        filter: drop-shadow(0 0 5px white);
        border: 5px solid turquoise; 
      }
    } 
    &.activo_dos{
      & .cursor{
        width: 75px;
        top: -31px;
        left: -31px;
        z-index: -1;
        background-color: transparent;
        border: 3px solid white;
      }
      & .fancy{
        width: 0%;
        border: 0px;
      }
    } 
  }
  .ventana{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // border: 10px solid pink;
    z-index: 3;
    pointer-events: none;
    overflow: hidden;
    &.activo{
      pointer-events: auto;
    }
    // @media (max-width: 600px) {
    //   pointer-events: auto;
    // }
    .burguer{
      display: none;
      width: 2.5em;
      height: 2.5em;
      border: 4px solid rgba(255, 255, 255);
      opacity: .5;
      border-radius: 10px;
      top: 1.5em;
      right: 1.5em;
      position: absolute;
      z-index: 7;
      transition: 0.5s ease-in-out;
      @media (max-width:600px){
        display: block;  
        pointer-events: auto;  
      }
      &.esconder{
        top: -10em;
      }
      &.back{
        opacity: 0;
        pointer-events: none;
      }
      .linea{
        position: absolute;
        width: 70%;
        height: 3px;
        background: white;
        left: 15%;
        opacity: .5;
        transition: 1s;
        &.arriba{
          top: calc(30%);
          transform-origin: center;
        }
        &.abajo{
          bottom: calc(30%);
          transform-origin: center;
        }
      }
      &.activo{
        opacity: 1;
        filter: drop-shadow(0 0 2px orange);
        & .linea.arriba{
          top: calc(50% - 1.5px);
          transform: rotate(45deg);
          width: 80%;
          opacity: 1;
          left: 10.5%;
        }
        & .linea.abajo{
          width: 80%;
          top: calc(50% - 1.5px);
          transform: rotate(-45deg);
          opacity: 1;
          left: 10.5%;
        }
      }
    }
    .logo_res{
      display: none;
      width: 2.5em;
      height: 2.5em;
      opacity: 1;
      border-radius: 10px;
      top: 1.5em;
      left: 1.5em;
      position: absolute;
      z-index: 7;
      transition: 0.5s ease-in-out;
      filter: drop-shadow(0 0 5px white);
      @media (max-width:600px){
        display: block;  
        pointer-events: auto;  
      }
      &.esconder{
        top: -10em;
      }
      &.back{
        opacity: 0;
        pointer-events: none;
      }      
    }
    .menu_responsive{
      display: none;
      width: 100%;
      height: 100%;
      padding: 15vh 15% 3vh;
      background: black;
      opacity: 1;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      top: 0;
      right: 0;
      position: absolute;
      transform: translateX(-200%);
      transition: 1s;
      @include flex( column, nowrap, center, flex-start );
      @media (max-width:500px){
        display: flex;    
      }
      &.activo{
        transform: translateX(0%);
      }
      .secciones_responsive{
        // background: turquoise;
        flex: 3;
        @include flex( column, nowrap, space-around, flex-start );
        margin-bottom: 15vh;
        padding-top: 1em;
        font-size: 1.7em;
        opacity: 0;
        transform: translateX(-200%);
        transition: all 1s ease 1s;
        .h5_responsive{
           
          &:hover{
            filter: drop-shadow(0 0 5px white);
          }
        }
      }
      .rrss_responsive{
        // background: orange;
        flex: 1;
        width: 100%;
        @include flex( row, nowrap, space-around, flex-start );
        font-size: 1.6em;
        opacity: 0;
        transform-origin: center;
        transform: scale(0);
        transition: all 1.5s ease-in-out 1s;
        .rs:hover{
          filter: drop-shadow(0 0 5px white);
        }
      }
      &.activo .secciones_responsive{
        transform: translateX(0%);
        opacity: 1;
      }
      &.activo .rrss_responsive{
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  .cursor{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    z-index: 10; 
    pointer-events: none;
    transform-origin: center ;
    -webkit-transition: -webkit-opacity 1s ease, -webkit-transform 0s ease, -webkit-width .5s ease, -webkit-height .5s ease;
    background-color: 1s ease, top .5s ease, left .5s ease;
    opacity:  1;
  }
  .fancy{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    z-index: 9;
    -webkit-transition: -webkit-transform .1s ease-in-out, -webkit-opacity .1s ease;
    top: 5px;
    left: 5px;
    pointer-events: none;
    @media (max-width: 1800px) {
      width: 25px;
      height: 25px;
    }
    &.safari{
    -webkit-transition: none;
    }
  }
}
body .cursorpack.activo_tres{
  .fancy{
    width: 0%;
    border: 0px;
  }
}
.header{
  width: 100%;
  height: 6vh;
  position: sticky;
  top: 0;
  z-index: 6;
  background-color: var(--negro-hea-fot);
  transition: 1s ease;
  @include flex(row, nowrap, center, center);
  &.esconder{
    transform: translateY(-6vh);
  }
  @media (max-width:600px){
    display: none;
  }
  .nav{
    :hover{
      transition: 1s;
    }
    width: 80%;
    max-width: var(--grande);
    @include flex(row, nowrap, space-between, center);
    @media (max-width:1800px){
      font-size: 80%;
    }
    .logo{
      flex: 1;
      font-family: 'Days One', sans-serif;
      font-size: 2em;
      text-align: center;
      cursor: none;
      position: relative;
      @include flex(row, wrap, flex-start, center);
      .ele{
        -webkit-text-stroke: 2px white;
        color: transparent; 
      }
      :hover{
        filter: drop-shadow(0 0 5px white);
      }
    }
    .ul{
      @include flex(row, wrap, space-around, center);
      flex: 5;
      .li{
        font-family: 'Days One', sans-serif;
        position: relative;
        transition: .1s;
        &:hover{
          filter: drop-shadow(0 0 5px white);
        }
        ::after{
            content:"";
            width: 100%;
            height: 5px;
            background: white;
            position: absolute;
            top: 130%;
            left: 0;
            transition: .3s;
            transform-origin: center;
            transform: scalex(0);
          }
          :hover::after{
            transform: scalex(1);
          }
      }
    }
    .rrss{
      @include flex(row, wrap, space-around, center);
      flex: 1;
      @media (max-width:1800px){
        // background: red;
        flex: 1.2;
        @include flex(row, nowrap, space-between, center);
      }
      .rs{
        font-size: 1.8em;
        font-family: 'Days One', sans-serif;
        transition: .1s;
        &.link:hover{
          filter: drop-shadow(0 0 5px orange);
        }
        &.git:hover{
          filter: drop-shadow(0 0 5px var(--rosa));
        }
        &.mail:hover{
          filter: drop-shadow(0 0 5px turquoise);
        }
      }
    }
  }
}
.principal{
  width: 100%;
  height: 94vh;
  position: relative;
  overflow: hidden;
  &.web{
    position: fixed;
    z-index: -10;
  }
  .fondo{
    width: 100%;
    height: 100%;
    position: fixed;
    @include flex( column, nowrap, center, center);
    z-index: -1; 
    transform-origin: top;
    @media (max-width:1800px){
      transform: scale(0.6);
      height: 150%;
    }
    .uno{
      width: 50em;
      height: 50em;        
      border-radius: 50%; 
      background: rgb(63, 34, 75);
      filter: blur(10em);
      transform: rotate(0deg) translateX(-10em) rotate(0deg);
      animation-name: moverseizqda;
      animation-duration: 30s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      transition: 2s;
      z-index: -1;
      &.blanco{
        width: 10em;
        height: 10em;
        filter: blur(5em);
        animation-duration: 5s;
        background-color: white;
      }
      &.purple{
        width: 10em;
        height: 10em;
        filter: blur(5em);
        animation-duration: 5s;
        background-color: var(--morado-osc);
      }
    }
    .dos{
      position: absolute;
      width: 15em;
      height: 15em;        
      border-radius: 50%;
      background: orange;
      filter: blur(10em);
      transform: rotate(0deg) translateX(25em) rotate(0deg);
      animation-name: moversedrcha;
      animation-duration: 30s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      transition: 2s;
      z-index: -2;
      &.blanco{
        width: 10em;
        height: 10em;
        filter: blur(5em);
        animation-duration: 5s;
        background-color: white;
      }
      &.purple{
        width: 10em;
        height: 10em;
        filter: blur(5em);
        animation-duration: 5s;
        background-color: var(--morado-osc);
      }
    }
    .tres{
      width: 20em;
    height: 20em;        
    border-radius: 50%;
    position: absolute;
    z-index: -2;
    background: rgb(23, 192, 192);
    filter: blur(10em);
    transform: rotate(0deg) translateX(-20em) rotate(0deg);
    animation-name: moversecentro;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: 2s;
    &.blanco{
      width: 10em;
      height: 10em;
      filter: blur(5em);
      animation-duration: 5s;
      background-color: white;
    }
    &.purple{
      width: 10em;
      height: 10em;
      filter: blur(5em);
      animation-duration: 5s;
      background-color: var(--morado-osc);
    }
  }
  .cuatro{
    width: 10em;
    height: 10em;        
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 30%;
    z-index: -2;
    background: var(--rosa);
    filter: blur(5em);
    transform: rotate(0deg) translateX(-5em) rotate(0deg);
    animation-name: moversecuatro;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: 2s;
    &.blanco{
      width: 10em;
      height: 10em;
      filter: blur(5em);
      animation-duration: 5s;
      background-color: white;
    }
    &.purple{
      width: 10em;
      height: 10em;
      filter: blur(5em);
      animation-duration: 5s;
      background-color: var(--morado-osc);
    }
  }
  .cinco{
    width: 8em;
    height: 8em;        
    border-radius: 50%;
    position: absolute;
    right: 40%;
    top: 60%;
    z-index: -2;
    background: rgb(139, 139, 139);
    filter: blur(3em);
    transform: rotate(0deg) translateX(-15em) rotate(0deg);
    animation-name: moversecinco;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: 2s;
    &.blanco{
      width: 10em;
      height: 10em;
      filter: blur(5em);
      animation-duration: 3s;
      background-color: white;
    }
    &.purple{
      width: 10em;
      height: 10em;
      filter: blur(5em);
      animation-duration: 3s;
      background-color: var(--morado-osc);
    }
  }
  .desenfoque.orange{ background: rgba(255, 166, 0, 0.26);}
  .desenfoque.turquesa{ background: rgba(0, 255, 221, 0.26);}
  .desenfoque.gris{ background: rgba(255, 255, 255, 0.158);}
}
} 
.contenido{
  position: absolute;
  max-width: var(--grande);
  width: 100%;
  height: 100%;
  // background-color: purple;
  @include flex( row, nowrap, center, center);
  @media (max-width:1800px){
    font-size: 55%;
  }
  @media (max-width:1024px){
    padding: 0% 15%;
  }
  @media (max-width:850px) {
    @include flex(column, nowrap, center, center);
  }
  @media (max-width:600px){
    font-size: 45%;
    padding: 0;
  }
  @media (max-width: 350px) {
    font-size: 35%;
  }
  .par_izq{
    // background-color: red;
    flex: 1;
    @include flex(column, wrap, center, flex-end);
    @media (max-width: 1025px){
      @include flex(column, wrap, center, flex-start);
    }
    @media (max-width: 850px) {
      @include flex(column, nowrap, flex-end, flex-start);
      margin-bottom: 5em;
      flex: auto;
      width: 70%;
    }
    .h2{
      margin-right: 25%;
      font-size: 8em;
      color: white;
      text-transform: uppercase;
      &:hover .nombre{
        -webkit-text-stroke: 2px white;
        color: transparent;   
      }
      &:hover .apellido{
        -webkit-text-stroke: 0px white;
        color: white;   
      }
      @media (max-width: 850px){
        margin: 0;
        // background-color: red;
      }
    }
    .nombre{
      transform-origin: bottom left;
      transform: rotate(0deg);
      transition: .5s;
    }
    .apellido{
      -webkit-text-stroke: 2px white;
      color: transparent; 
      transition: .5s;
    }
  }
  .par_drc{
    // background: red;
    flex: 1;
    @include flex(column, wrap, center, flex-start);
    @media (max-width:850px){
      @include flex(column, nowrap, flex-start, flex-start);
      flex: auto;
      width: 70%;
    }
    .h1{
      margin-left: 25%;
      color: white;
      font-size: 2.5em;
      font-weight: 30;
      @media (max-width: 850px){
        margin: 0;
      }
      .d_block{
        display: block;
      }
    }
  }
}
  
.me{
  width:100%;
  max-width: var(--grande);
  margin: auto;
  padding: 5% 0;
  @media (max-width:1800px){
    font-size: 65%;
  }
  @media (max-width: 350px) {
    font-size: 40%;
  }
  .h2_info{
    width: 50%;
    margin: 0 auto 1.5em;
    // background-color: darkblue;
    font-size: 5em;
    position: relative;
    transition: all 0.5s ease;
    left: -10%;
    opacity: 0;
    &::after{
      content: '';
      width: 0em;
      height: 5px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 3px;
      position: absolute;
      top: 1.2em;
      left: 5%;
      transition: 2.5s ease;
    }
    &.entrar{
      left: 0;
      opacity: 1;
      transition: all 1.5s ease;
      &::after{
        width: 3em;
      }
    }
  }
  .p_info{
    width: 25%;
    font-size: 1.7em;
    font-weight: 100;
    margin: 1.5em auto;
    line-height: 1.7em;
    right: -10%;
    opacity: 0;
    transition: all 0.5s ease;
    position: relative;
    @media (max-width:1800px){
      width: 30%;
    }
    @media (max-width: 850px) {
      width: 50%;
    }
    @media (max-width:600px){
      width: 70%;
    }
    @media (max-width:350px){
      font-size: 215%;
    }
    &.entrar{
      right: 0;
      opacity: 1;
      transition: all 1.5s ease;
    }
  }
}
.skills{
  max-width: var(--grande);
  width: 70%;
  margin: auto;
  padding: 10% 0 5% 0%;
  // position: relative;
  @include flex( row, nowrap, space-between, flex-start);
  @media (max-width:1800px){
    font-size: 65%;
  }
  @media (max-width: 850px) {
    @include flex( column, nowrap, center, center);
    font-size: 60%;   
  }
  @media (max-width:600px){
    font-size: 50%;
  }
  @media (max-width: 350px) {
    font-size: 40%;
  }
  .development{
    text-align: left;
    // background-color: purple;
    flex: 1;
    @media (max-width:850px) {
      width: 100%;
      margin-bottom: 5em;
    }
    .h2_sk{
      transform-origin: right;
      transform: scale(0) translateX(35%);
      transition: all 1.5s ease;
      opacity: 0;
      &.entrar{
        opacity: 1;
        transform: scale(1) translateY(0%);
      }
    }
    .h3_sk{
      margin-left: 5%;
      transform-origin: left;
      transform: scale(0) translateX(-35%);
      transition: all 2s ease;
      opacity: 0;
      &.entrar{
        opacity: 1;
        transform: scale(1) translateY(0%);
      }
    }
  }
  .design{
    // background-color: yellow;
    margin-left: 4%;
    flex: 1;
    text-align: right;
    @media (max-width: 850px) {
      margin: 0;
      width: 100%;
    }
    .h2_sk{
      -webkit-text-stroke: 3px white;
      color: transparent;
      transform-origin: left;
      transform: scale(0) translateX(-35%);
      transition: all 1.5s ease;
      opacity: 0;
      @media (max-width:600px) {
        -webkit-text-stroke: 1px white;
      }
      &.entrar{
        opacity: 1;
        transform: scale(1) translateY(0%);
      }
    }
    .h3_sk{
      margin-right: 5%;
      transform-origin: right;
      transform: scale(0) translateX(35%);
      transition: all 2s ease;
      opacity: 0;
      &.entrar{
        opacity: 1;
        transform: scale(1) translateY(0%);
      }
    }
  }
  .h2_sk{
    text-transform: uppercase;
    font-size: 4em;
    margin-bottom: 1em;
  }
  .h3_sk{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 2em;
    margin: 1em auto 1em auto;
  }
}

.muestrario{
  width: 100%;
  max-width: var(--grande);
  padding-top: 10%;
  @media (max-width:1800px){
    font-size: 65%;
  }
  @media (max-width: 850px) {
    font-size: 60%;   
  }
  @media (max-width:600px){
    font-size: 50%;
  }
  @media (max-width: 350px) {
    font-size: 40%;
  }
  .h4_mues{
    width: 50%;
    margin: 0 auto 4em;
    font-size: 5em;
    position: relative;
    transition: all 0.5s ease;
    left: -10%;
    opacity: 0;
    &::after{
      content: '';
      width: 0em;
      height: 5px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 3px;
      position: absolute;
      top: 1.2em;
      left: 5%;
      transition: 2.5s ease;
    }
    @media (max-width: 1024px) {
      margin: 0 auto 3em;
    }
    @media (max-width: 350px) {
      margin: 1em auto 2.5em;
    }
    &.entrar{
      left: 0;
      opacity: 1;
      transition: all 1.5s ease;
      &::after{
        width: 2.5em;
        @media (max-width:600px) {
          width: 3em;
        }
        @media (max-width: 350px) {
          left: 10%;
          width: 2.8em;
        }
      }
    }
  }
  .web, .grafico, .ilustracion{
    width: 100%;
    min-height: 70vh;
    margin: auto;
    position: relative;
    overflow: hidden;
    transition: 1s ease;
    opacity: 0;
    pointer-events: none;
    @include flex( column, nowrap, center, center);
    @media (max-width: 1024px) {
      min-height: 40vh; 
    }
    &.entrar{
      opacity: 1;
      pointer-events: auto;
    }
    
    .cont_graf{
      transition: all .8s cubic-bezier(.56,.16,1,.76);
      transform: scale(3);
      filter: blur(5em);
      // min-height: 50vh;
      // padding: 5% 0%;
      // background-color: red;
      opacity: 0;
      @include flex(column, nowrap, center, center);
      @media (max-width:1024px) {
        transform: scale(1);
        filter: blur(0em);
        opacity: 1;
        filter: drop-shadow(0 0 5px darkgray);
      }
      @media (max-width:400px) {
        font-size: 80%;
        filter: drop-shadow(0 0 5px darkgray);
      }
      .h3_mues{
        text-align: center;
        font-size: 4em;
        text-transform: uppercase;
        -webkit-text-stroke: 3px white;
        color: transparent;
        @media (max-width: 1800px) {
          -webkit-text-stroke: 1px white;
        }
        @media (max-width: 1024px) {
          filter: drop-shadow(0 0 5px darkgray);
          margin-bottom: .5em;
        }
      }
      .p_mues{
        font-size: 2em;
        font-weight: 200;
        @media (max-width: 1024px) {
          filter: drop-shadow(0 0 5px darkgray);
        }
        @media (max-width: 600px) {
          filter: drop-shadow(0 0 3px black);
          font-size: 300%;
        }
      }
    }
    &:hover{
      width: 100%;
      right: 0;
      left: 0;
      & .cont_graf{
        transform: scale(1);
        filter: blur(0em);
        opacity: 1;
        @media (max-width: 1024px) {
          transform: scale(2);
          filter: blur(5em);
          opacity: 0;
        }
        @media (max-width: 800px) {
          transform: scale(1);
          filter: blur(0em);
          opacity: 1;
        }
      }
      & .blur{
        filter: blur(3em);
        background-color: rgba(0, 0, 0, 0);
        background-size: 130%;
        @media (max-width: 1024px) {
          filter: blur(0em);
          background-color: rgba(0, 0, 0, 1);
        }
        @media (max-width: 800px) {
          filter: blur(3em);
          background-color: rgba(0, 0, 0, 0);
        }
      }
  }
  }
  .web{
    .blur{
      width: 100%;
      height: 100%;
      filter: blur(0em);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: 1s ease;
      background-color: rgba(0, 0, 0, 0.3);
      background-image: url(../assets/backgroundWeb.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center 50%;
      @media (max-width: 1024px) {
        filter: blur(2em);
        background-size: 200%; 
      }
      @media (min-height:900px) {
        background-size: 100%;
        background-position: initial;
      }
    }
    &:hover .blur{
      @media (max-width:1024px) {
        background-size: 120%;
      }
      @media (max-width: 800px) {
        background-size: 250%;
      }
    }
  }
  .grafico{
    .blur{
      width: 100%;
      height: 100%;
      filter: blur(0em);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: 1s ease;
      background-color: rgba(0, 0, 0, 0.3);
      background-image: url(../assets/backgroundGrafico.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center 50%;
      @media (max-width: 1024px) {
        background-size: 150%; 
        background-position: bottom;
        filter: blur(1em);
      }
      @media (min-height:900px) {
        background-size: 200%;
      }
      @media (max-width: 600px) {
        background-size: 250%; 
        background-position: center;
      }
    }
    &:hover .blur{
      @media (max-width:1024px) {
        background-size: 155%;
      }
      @media (max-width: 600px) {
        background-size: 220%; 
        background-position: bottom;
      }
    }
  }
  .ilustracion{
    .blur{
      width: 100%;
      height: 100%;
      filter: blur(0em);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: 1s ease;
      background-color: rgba(0, 0, 0, 0.3);
      background-image: url(../assets/backgroundIllus.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center 50%;
      @media (max-width: 1024px) {
        background-position: center 260%;
        filter: blur(1em);
        background-color: rgba(0, 0, 0, 0);
      }
      @media (min-height:900px) {
        background-position: initial;
      }
      @media (max-width: 600px) {
        background-position: center 100%;
        filter: blur(1em);
        background-color: rgba(0, 0, 0, 0);
      }
    }
    &:hover .blur{
      @media (max-width:1024px) {
        background-size: 105%;
      }
    }
  }
}
.footer{
  width: 100%;
  background: var(--negro-hea-fot);
  @include flex( row, nowrap, center, center);
  padding: 1em;
  @media (max-width:1600px){
    font-size: 80%;
  }
}

// WEB section

.escaparate_web{
  width: 100%;
  max-width: 2600px;
  @include flex( column, nowrap, center, center);
  @media (max-width:1800px) {
    font-size: 75%;
  }
  @media (max-width: 1024px) {
    font-size: 65%;
  }
  @media (max-width: 800px) {
    font-size: 50%;      
  }
  @media (max-width: 600px) {
    font-size: 30%;      
  }
  .h3_web{
    @include flex( row, nowrap, center, center);
    height: 94vh;
    font-size: 5em;
    filter: drop-shadow(0 0 5px white);
    text-transform: uppercase;
    @media (max-width: 800px) {
      height: auto;
      display: block;
      text-align: center;
      margin: 40vh 0 35vh 0;      
    }
    & .span_web{
      -webkit-text-stroke: 3px white;
      color: transparent; 
      @media (max-width: 800px) {     
        -webkit-text-stroke: 2px white;
        font-size: 130%;
      }
      @media (max-width: 600px) {     
        -webkit-text-stroke: 1px white;
        font-size: 160%;
      }
      @media (max-width: 350px) {
        font-size: 150%;      
      }
    }
  }
  .t_web{
    width: 70%;
    margin: 10vh 0;
    opacity: 0;
    transition: 1s;
    // background: 
    @include flex(row, nowrap, center, center);
    @media (max-width:1800px) {
      font-size: 75%;
    }
    @media (max-width:1024px) {
      @include flex(column, nowrap, center, center);
    }
    @media (max-width:600px) {
      margin: 5vh 0;
      width: 85%;
    }
    &:nth-child(even){
      .trabajo_izqda{
        flex: 2;
        // background-color: turquoise;
        @include flex( column, nowrap, center,center);
        .a_t_web{
          &:hover{
            filter: drop-shadow(0 0 10px white);
          }
          img{
            min-width: 100%;
            border-radius: 1em;
            filter: drop-shadow(0 0 0px white);
            transition: 1s ease;
            transform: rotate(0deg);
            @media (max-width:1024px) {
              width: 80%;
              transform: rotate(-10deg);
            }
            @media (max-width:600px) {
              border-radius: 3em;
            }
          }
        }
      }
      .trabajo_drcha{
        // background-color: orange;
        flex: 3;
        height: 100%;
        overflow: hidden;
        .a_t_web{
          position: relative;
          transition: 1s ease;
          @include flex(column, nowrap, center, center);
          .h4_web{
            font-size: 10em;
            padding: 1.5em 0;
            // background-color: yellow;
          }
          .fa-github{
            // background-color: red;
            transition: 1s;
            transform: translateY(100%);
            opacity: 0;
            font-size: 5em;
            position: absolute;
            bottom: 20%;
            @media (max-width:1024px) {
              transform: translateY(0%);
              opacity: 1;
            }
          }
          &:hover{
            transform: scale(0.9);
            filter: drop-shadow(0 0 5px white);
            .fa-github{
              transform: translateY(0%);
              opacity: 1;
            }
          }
          &:active{
            filter: drop-shadow(0 0 5px var(--rosa));
          }
        }
      }
      
      &.entrar{
        opacity: 1;
        .a_t_web img{
          transform: rotate(-10deg);
          @media (max-width:1024px) {
            transform: rotate(0deg);
            filter: drop-shadow(0 0 10px white);
          }
        }
        &:hover img{
          transform: rotate(0deg);
        }
      }
    }
    &:nth-child(odd){
      @media (max-width:1024px) {
        @include flex(column-reverse, nowrap, center, center);
      }
      .trabajo_izqda{
        // background-color: orange;
        flex: 3;
        height: 100%;
        overflow: hidden;
        .a_t_web{
          position: relative;
          transition: 1s ease;
          @include flex(column, nowrap, center, center);
          .h4_web{
            font-size: 10em;
            padding: 1.5em 0;
            -webkit-text-stroke: 3px white;
            color: transparent; 
            @media (max-width:600px) {
              -webkit-text-stroke: 1px white;
            }
          }
          .fa-github{
            // background-color: red;
            transition: 1s;
            transform: translateY(100%);
            opacity: 0;
            font-size: 5em;
            position: absolute;
            bottom: 20%;
            @media (max-width:1024px) {
              transform: translateY(0%);
              opacity: 1;
            }
          }
          &:hover{
            transform: scale(0.9);
            filter: drop-shadow(0 0 5px white);
            .fa-github{
              transform: translateY(0%);
              opacity: 1;
            }
          }
          &:active{
            filter: drop-shadow(0 0 5px var(--rosa));
          }
        }
      }
      .trabajo_drcha{
        flex: 2;
        // background-color: turquoise;
        @include flex( column, nowrap, center,center);
        .a_t_web{
          &:hover{
            filter: drop-shadow(0 0 10px white);
          }
          img{
            min-width: 100%;
            border-radius: 1em;
            filter: drop-shadow(0 0 0px white);
            transition: 1s ease;
            transform: rotate(10deg);
            @media (max-width:1024px) {
              width: 80%;
            }
            @media (max-width:600px) {
              border-radius: 3em;
            }
          }
        }
      }
      &:hover{
        .fa-github{
          transform: translateY(0%);
          opacity: 1;
        }
      }
      &.entrar{
        opacity: 1;
        .a_t_web img{
          transition: 1s ease;
          border-radius: 1em;
          transform: rotate(10deg);
          @media (max-width:1024px) {
            transform: rotate(0deg);
            filter: drop-shadow(0 0 10px white);
          }
          @media (max-width:600px) {
            border-radius: 3em;
          }
        }
        &:hover img{
          filter: drop-shadow(0 0 10px white);
          transform: rotate(0deg);
        }
      }
    }
    .p_coming{
      font-size: 2.5em;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 10vh;
      @media (max-width: 1024px) {
        font-size: 4em;
      }
      @media (max-width: 800px) {
        font-size: 5em;
      }
    }
  }
}

//Sección Gráfico 
.escaparate_grafico{
  width: 100%;
  max-width: 2600px;
  @include flex( column, nowrap, center, center);
  @media (max-width:1800px) {
    font-size: 75%;
  }
  @media (max-width: 1024px) {
    font-size: 65%;
  }
  @media (max-width: 800px) {
    font-size: 60%;      
  }
  @media (max-width: 600px) {
    font-size: 30%;      
  }
  .h3_grafico{
    @include flex( row, nowrap, center, center);
    height: 94vh;
    font-size: 5em;
    filter: drop-shadow(0 0 5px white);
    text-transform: uppercase;
    @media (max-width:1024px) {
      font-size: 7em;
    }
    @media (max-width:800px) {
      font-size: 5em;
    }
    @media (max-width: 600px) {
      font-size: 7em;
      height: auto;
      display: block;
      text-align: center;
      margin: 45vh 0 35vh 0;      
    }
  }
  .t_grafico:not(:last-child){
    width: 70%;
    min-height: 130vh;
    opacity: 1;
    transition: 1s;
    margin: 10vh 0 20vh 0;
    @media (max-width:1800px) {
      font-size: 75%;
    }
    @media (max-width:1024px) {
      @include flex(column, nowrap, center, center);
      min-height: 0vh;
    }
    @media (max-width:600px) {
      margin: 5vh 0;
      width: 85%;
    }
  }
  .muestra{
    width: 30%;
    // background-color: turquoise;
    margin: auto;
    position: relative;
    opacity: 0;
    transition: 1s ease;
    @media (max-width: 1024px) {
      width: 60em;
      min-height: 60em;
      margin: 0vh 0 25vh 0;
      @include flex(column, nowrap, center, center);
    }
    @media (max-width: 350px) {
      width: 50em;
      min-height: 50em;
    }
    &.d_none{
      display: none;
    }
    .img_graf{
      border-radius: 3em;
      max-width: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transform: perspective(1000px);
      &.delante{
        z-index: 2;
      }
    }
    &.m_uno{
      width: 35%;
      left: 30%;
      // background-color: yellow;
      bottom: 30vh;
      transform: rotate(0deg);
      transition: 1s;
      @media (max-width: 1024px) {
        left: auto;
        bottom: auto;
        width: 70%;
        transform: scale(0.7);
      }
      .img_graf:nth-child(3){
        transition: 1s;
        transform: rotate(0deg) translateX(0%);
        filter: blur(0em);
      }
      .img_graf:nth-child(2){
        transition: 1s;
        transform: rotate(0deg) translateX(0%);
        filter: blur(0em);
      }
      .img_graf:nth-child(1){
        transition: 1s;
        filter: drop-shadow(0 0 0px black);
      }
    }
    &.m_dos{
      left: -10%;
      // background-color: green;
      bottom: 10vh;
      left: -30%;
      transform: rotate(0deg);
      transition: 1s;
      @media (max-width: 1024px) {
        left: auto;
        bottom: auto;
        transform: scale(0.7);
      }
      .img_graf:nth-child(1){
        transition: 1s;
        transform: rotate(0deg) translateX(0%);
        filter: blur(0em);
      }
      .img_graf:nth-child(2){
        transition: 1s;
        transform: rotate(0deg) translateX(0%);
        filter: blur(0em);
      }
      .img_graf:nth-child(3){
        transition: 1s;
        filter: drop-shadow(0 0 0px black);
      }
    }
    &.m_tres{
      left: 30%;
      // background-color: blue;
      top: 35vh;
      transform: rotate(0deg);
      transition: 1s;
      @media (max-width: 1024px) {
        left: auto;
        top: auto;
        transform: scale(0.7);
      }
      .img_graf:nth-child(1){
        transition: 1s;
        transform: rotate(0deg) translateX(0%);
        filter: blur(0em);
      }
      .img_graf:nth-child(2){
        transition: 1s;
        transform: rotate(0deg) translateX(0%);
        filter: blur(0em);
      }
      .img_graf:nth-child(3){
        transition: 1s;
        filter: drop-shadow(0 0 0px black);
      }
    }
    &.m_cuatro{
      top: 50vh;
      left: -40%;
      transform: rotate(0deg);
      // background-color: purple;
      transition: 1s;
      @media (max-width: 1024px) {
        left: auto;
        top: auto;
        transform: scale(0.7);
      }
      .img_graf:nth-child(1){
        transition: 1s;
        transform: rotate(0deg) translateX(0%);
        filter: blur(0em);
      }
      .img_graf:nth-child(2){
        transition: 1s;
        filter: drop-shadow(0 0 10px black);
        transform: translateY(0%);
      }
    }
  }
  .muestra.entrar{
    opacity: 1;
  }
  .m_uno.entrar{
    width: 35%;
    left: 30%;
    // background-color: yellow;
    bottom: 30vh;
    transform: rotate(-5deg);
    @media (max-width: 1024px) {
      left: auto;
      bottom: auto;
      width: 70%;
      transform: rotate(0deg);
      transform: scale(1);
    }
    .img_graf:nth-child(3){
      transform: rotate(10deg) translateX(10%);
      filter: blur(0.5em);
    }
    .img_graf:nth-child(2){
      transform: rotate(-20deg) translateX(-10%);
      filter: blur(0.5em);
    }
    .img_graf:nth-child(1){
      filter: drop-shadow(0 0 10px black);
      @media (max-width: 1024px) {
        filter: drop-shadow(0 0 20px white);
      }
    }
    &:hover{
      transform: rotate(0deg) scale(1.2);
      .img_graf:nth-child(3){
        transform: rotate(0deg) translateX(0%);
        filter: blur(0em);
      }
      .img_graf:nth-child(2){
        transform: rotate(0deg) translateX(0%);
        filter: blur(0em);
      }
      .img_graf:nth-child(1){
        filter: drop-shadow(0 0 15px white); 
      }
    }
  }
  .m_dos.entrar{
    left: -10%;
    // background-color: green;
    bottom: 10vh;
    left: -30%;
    transform: rotate(5deg);
    @media (max-width: 1024px) {
      left: auto;
      bottom: auto;
      transform: rotate(0deg);
      transform: scale(1);
    }
    .img_graf:nth-child(3){
      transform: rotate(10deg) translateX(15%);
      filter: blur(0.5em);
    }
    .img_graf:nth-child(2){
      transform: rotate(-20deg) translateX(-15%);
      filter: blur(0.5em);
    }
    .img_graf:nth-child(1){
      filter: drop-shadow(0 0 10px black);
      @media (max-width: 1024px) {
        filter: drop-shadow(0 0 20px white);
      }
    }
    &:hover{
      transform: rotate(0deg) scale(1.2);
      .img_graf:nth-child(3){
        transform: rotate(0deg) translateX(0%);
        filter: blur(0em);
      }
      .img_graf:nth-child(2){
        transform: rotate(0deg) translateX(0%);
        filter: blur(0em);
      }
      .img_graf:nth-child(1){
        filter: drop-shadow(0 0 15px white); 
      }
    }
  }
  .m_tres.entrar{
    left: 30%;
    // background-color: blue;
    top: 35vh;
    transform: rotate(10deg);
    @media (max-width: 1024px) {
      left: auto;
      top: auto;
      transform: rotate(0deg);
      transform: scale(1);
    }
    .img_graf:nth-child(3){
      transform: rotate(10deg) translateX(15%);
      filter: blur(0.5em);
    }
    .img_graf:nth-child(2){
      transform: rotate(-20deg) translateX(-15%);
      filter: blur(0.5em);
    }
    .img_graf:nth-child(1){
      filter: drop-shadow(0 0 10px black);
      @media (max-width: 1024px) {
        filter: drop-shadow(0 0 20px white);
      }
    }
    &:hover{
      transform: rotate(0deg) scale(1.2);
      .img_graf:nth-child(3){
        transform: rotate(0deg) translateX(0%);
        filter: blur(0em);
      }
      .img_graf:nth-child(2){
        transform: rotate(0deg) translateX(0%);
        filter: blur(0em);
      }
      .img_graf:nth-child(1){
        filter: drop-shadow(0 0 15px white); 
      }
    }
  }
  .entrar.m_cuatro.entrar{
    top: 50vh;
    left: -40%;
    transform: rotate(-20deg);
    @media (max-width: 1024px) {
      left: auto;
      top: auto;
      transform: rotate(0deg);
      transform: scale(1);
    }
    .img_graf:nth-child(2){
      transform: rotate(30deg) translateX(15%);
      filter: blur(0.5em);
    }
    .img_graf:nth-child(1){
      filter: drop-shadow(0 0 10px black);
      transform: translateY(15%);
      @media (max-width: 1024px) {
        filter: drop-shadow(0 0 20px white);
      }
    }
    &:hover{
      transform: rotate(0deg) scale(1.2);
      .img_graf:nth-child(2){
        transform: rotate(0deg) translateX(0%);
        filter: blur(1em);
      }
      .img_graf:nth-child(1){
        transform: rotate(0deg) translateX(0%);
        filter: drop-shadow(0 0 15px white); 
      }
    }
  }
  .p_coming{
    font-size: 2.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10vh;
    // background-color: lime;
    @media (max-width: 1024px) {
      font-size: 4em;
    }
  }
}

.overlay{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  transition: 1s;
  &.activo{
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
// Ilustración
.escaparate_ilustracion{
  width: 100%;
  max-width: 2600px;
  @include flex( column, nowrap, center, center);
  @media (max-width:1800px) {
    font-size: 75%;
  }
  @media (max-width: 1024px) {
    font-size: 65%;
  }
  @media (max-width: 800px) {
    font-size: 60%;      
  }
  @media (max-width: 600px) {
    font-size: 30%;      
  }
  .h3_ilustracion{
    @include flex( row, nowrap, center, center);
    height: 94vh;
    font-size: 5em;
    -webkit-text-stroke: 4px white;
    color: transparent; 
    text-transform: uppercase;
    filter: drop-shadow(0 0 5px white);
    @media (max-width:1024px) {
      -webkit-text-stroke: 3px white;
      font-size: 7em;
    }
    @media (max-width:800px) {
      font-size: 5em;
      -webkit-text-stroke: 2px white;
    }
    @media (max-width: 600px) {
      -webkit-text-stroke: 1px white;
      font-size: 7em;      
    }
  }
  .t_ilustracion{
    width: 70%;
    margin-top: 15vh;
    @media (max-width:1024px) {
      width: 85%;
    }
    .grid{
      width: 100%;
      @include flex( row, wrap, space-between, space-between);
    }
  }
}
.m_illust{
  width: 22%;
  border-radius: 1em;
  margin-bottom: 4%;
  transition: 1s ease;
  opacity: 0;
  &:not(:nth-child(4n)){
    margin-right: calc(12%/3);
  }
  .img_illust{
    max-width: 100%;
  }
  &:nth-child(odd){
    transform: rotate(20deg) scale(0.75);
  }
  &:nth-child(even){
    transform: rotate(-20deg) scale(0.75);
  }
  &.entrar{
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  @media (max-width: 1024px) {
    width: 40%;
    margin-bottom: 10%;
    &:not(:nth-child(4n)){
      margin-right: 0;
    }
    &:nth-child(odd){
      margin-right: 5%;
      margin-left: 5%;
    }
    &:nth-child(even){
      margin-right: 5%;
      margin-left: 5%;
    }
  }
  @media (max-width: 600px) {
    width: 85%;
    margin: calc(15%/2);
    &:nth-child(odd){
      margin-right: auto;
      margin-left: auto;
    }
    &:nth-child(even){
      margin-right: auto;
      margin-left: auto;
    }
  }
}

// lightbox
.lightbox{
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 2;
  @include flex(column, nowrap, center, center);
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s ease, transform 1s ease, background-color 1s ease 0.5s;
  &.activo{    
    pointer-events: auto;
    opacity: 1;
    transform: scale(1);
  }
  .contenedor_lightbox{
    background-color: purple;
    opacity: 1;
    position: relative;
    top: 5vh;
    @include flex(column, nowrap, center, center);
    filter: drop-shadow(0 0 10px rgb(255, 255, 255, 0.8));
    &.grafico{
      max-width: 1100px;
      width: 100%;
    }
    &.ilustracion{
      max-width: 35%;
      top: 0vh;
      @media (max-width:1800px) {
        max-width: 30%;
      }
      @media (max-width:1024px) {
        max-width: 80%;
      }
      @media (max-width:600px) {
        max-width: 100%;
      }
    }
    @media (max-width:1800px) {
      width: 40%;
    }
    @media (max-width:1024px) {
      width: 90%;
    }
    @media (max-width:600px) {
      width: 100%;
      top: 0vh;
    }
    .imagen{
      overflow: hidden;
      height: 100%;
      background-color: yellow;
      transform: scale(1.2);
      .grande{
        height: 100%;
      }
    }
    .flechas{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      @include flex(row, nowrap, space-between, center);
      font-size: 2.5em;
      transition: 1s;
      @media (max-width: 600px) {
        height: auto;
        width: 80%;
        left: auto;
        top: auto;
        bottom: -10vh;
      }
      .flizquierda{
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0) 33%, rgba(0,0,0,0.7) 100%);
        height: 100%;
        width: 5%;
        transform: rotate(180deg);
        transition: .5s;
        @include flex(row, nowrap, center, center);
        &:hover{
          font-size: 1.2em;
        }
        @media (max-width: 600px) {
         width: 10%;
         font-size: 3em; 
         background: none;
         opacity: .5;
          transition: .5s;
          &:hover{
            font-size: 3em;
            opacity: 1;
          }
        }
      }
      .flderecha{
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0) 33%, rgba(0,0,0,0.7) 100%);
        height: 100%;
        width: 5%;
        @include flex(row, nowrap, center, center);
        transition: .5s;
        &:hover{
          font-size: 1.2em;
        }
        @media (max-width: 600px) {
          width: 10%;
          font-size: 3em;
          background: none;
          opacity: .5;
          transition: .5s;
          &:hover{
            font-size: 3em;
            opacity: 1;
          }
        }
      }
    }
    .button{
      position: absolute;
      top: -5vh;
      font-size: 3em;
      transform: rotate(45deg) scale(1);
      transition: .5s;
      &.ilustracion{
        top: 5vh;
        right: -10%;
        @media (max-width:1024px) {
          right: auto;
          top: -7vh;
        }
        @media (max-width:800px) {
          font-size: 5em;
          top: -6vh;
        }
        @media (max-width:600px) {
          font-size: 8em;
          top: -8vh;
        }
      }
      &:hover{
        transform: rotate(225deg) scale(1.5);
      }
      @media (max-width:1024px) {
        font-size: 8em;
        top: -8vh;
      }
      @media (max-width:600px) {
        font-size: 10em;
      }
    }
  }
}
// COOKIES
.cookies{
  width: 100%;
  max-width: var(--grande);
  padding: 5vh 0;
  background-color: rgba(141, 141, 141, 0.5);
  position: fixed;
  bottom: 0;
  @include flex(column, nowrap, center, center);
  transform: translateY(100%);
  transition: 1s;
  @media (max-width:1600px) {
   font-size: 75%;
  }
  @media (max-width: 1024px) {
    font-size: 90%;
  }
  @media (max-width: 800px) {
    font-size: 70%;
  }
  @media (max-width:600px) {
    font-size: 90%;
  }
  &.aparecer{
    transform: translateY(0%);
  }
  .h5_cookies{
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  .p_cookies{
    font-size: 0.9em;
    &:not(:last-child){
      margin-bottom: 10px;
    }
    @media (max-width: 1024px) {
      width: 80%;
      text-align: center;
    }
  }
  .cerrar_cookies{
    position: absolute;
    right: 1em;
    top: 5%;
    font-size: 3em;
    transform: rotate(45deg);
    cursor: none;
  }
}